nav{
    background-color: black;
    text-align: center;
    padding: 50px;
    color: white;
    font-size: large;
    font-weight: bold;

}
h1{
    text-align: center;
    padding: 0%;
    font-family: fantasy;
    color: aliceblue;
    background: orange;
    
}
form{
    width: 300px;
    margin: 0 auto;
}
